# Database
DATABASE_URL=

# Auth
JWT_SECRET=
RESEND_API_KEY=

# Gemini API
GEMINI_API_KEY=

# SSL Certificate
CERTBOT_EMAIL=

# Analytics
ANALYTICS_HASH_SALT=
POSTHOG_API_KEY=
POSTHOG_HOST=
ANALYTICS_IPINFO_TOKEN=
